<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Hello from admin all quiz
<ul>
    <li th:each="quiz : ${allQuiz}">
        <h2 th:text="${quiz.name}">Quiz1 Title</h2>
        <h6 th:text="${quiz.quizCategory}">Quiz Category</h6>
        <ul>
            <li th:each="question : ${quiz.questions}">
                <h2><span th:text="${question.questionContent}">First Question Content</span> (<span
                        th:text="${question.rating}">5</span>)</h2>
                <h6 th:text="${question.questionCategory}">First Question Category</h6>
                <ol>
                    <li th:each="answer : ${question.answers}">
                        <p th:text="${answer}">First answer</p>
                    </li>
                </ol>
            </li>
        </ul>
    </li>
</ul>
</body>
</html>