<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Quiz</title>
    <h2>Tworzenie nowego quizu</h2>
</head>
<body>
<form action="/admin/quiz" method="post">
    <h3>Nazwa<input type="text" name="name"></h3>
    <h3>Kategoria
        <select name="category">
            <option value="math">Math</option>
            <option value="general">General</option>
        </select>
    </h3>
    <br>
    <br>
    <div>
        <input value="Zapisz" type="submit">
    </div>
    </div>
</form>
</body>
</html>