<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="../static/css/quiz.css" th:href="@{/css/quiz.css}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2 th:text="${quiz.name}">Quiz1 Title</h2>
<h6 th:text="${quiz.quizCategory}">Quiz Category</h6>
<ol>
    <li th:each="question : ${quiz.questions}">
        <a th:href="'/quiz/' + ${quiz.id} + '/question/' + ${question.id}" href="#"
           th:text="${question.questionContent}">
            Lifestyle
        </a>
    </li>
</ol>
<a th:if="${nextQuizPath} != null" th:href="${nextQuizPath}" href="#">Next</a>
</body>
</html>